

<%= link_to "New Question", new_question_path, id: "new_link", remote: true, :class => "btn btn-success btn-xs" %>


<div class="questions" id="questions">
<h3>Questions</h3>
<%= render @questions %>
</div>
